a.navigator:hover {
  text-decoration: none;
  text-decoration: none;
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;

  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000;
}
.fab-container:hover {
  height: 100%;
}
.fab-container:hover .sub-button:nth-child(1) {
  transform: translateY(-0px) rotate(0.25turn);
}
.fab-container:hover .sub-button:nth-child(2) {
  transform: translateY(-80px) rotate(0.25turn);
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  height: 80px;
  width: 80px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.fab-container .sub-button:hover {
  cursor: pointer;
}
