:root {
    --goey-background: #ffc400;
    
    --size: 4.22612743263239rem;
    --distance: 6.1934297294490355rem;
    --position: 11.191338546912853%;
    --time: 3.5199565694287767s;
    --delay: -2.2326750707992287s;
}

.body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.goey-wrapper {
    position: absolute !important;
    object-fit: cover;
    /* background-image: url(https://i.ibb.co/VC3RGqw/foodgod-banner.png); */
}

.goey-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main""goey-container";
    overflow-x: hidden;

    width: 100%;
    background-size: cover;
    /* background: ; */
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

/* .goey-wrapper .main {
    z-index: 3;
} */

.goey-container {
    /* z-index: 1; */
    display: grid;
    position: relative;
    grid-area: goey-container;
    min-height: 50vh;
}

.goey-container .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--goey-background);
    filter: url("#blob");
}

.goey-container .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--goey-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.goey-container .content {
    /* z-index: 2; */
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--goey-background);
}

@-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}